*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container{
    width: 90%;
    margin: 2% auto;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.layover{
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.274);
}
/* / common */

/* IMMAGINI E CONTENITORI GENERALI */

.slider, .article_img{
    position: relative;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.slider img, .article_img > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* / IMMAGINI E CONTENITORI GENERALI  */

/* header e nav */

header #logo img{
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid lightgray;
}

nav{
    margin: 40px 0;
}

nav li {
    display: inline;
    list-style: none;
    padding-right: 10px;
}

nav li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    color: rgb(153, 153, 153);
}
/* / header e nav */

/* slider e colonne */
main{
    margin: 10px 0 ;
}
    /* slider */

    .slider{
        height: 550px;
    }

    .slide_text{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 50px;
        width: 60%;
        color: white;
    }

    .slide_text > h2{
        font-size: 30px;
    }

    /* / slider */

    /* container colonne */

    .column_container{
        margin: 30px  auto;
        padding-bottom: 20px;
    }

    .column_container:after, .columns_box:after{
        content: "";
        display: table;
        clear: both;
    }

    .column_container_header > h1{
        font-size: 35px;
        font-weight: 600;
    }

    .column_container_header > p{
        font-size: 15px;
        font-weight: 400;
        color: rgb(170, 170, 170);
    }

        /* colonne */

        .columns_box{
            padding: 35px 0;
        }

        .columns_box > div{
            float: left;
        }

        .columns_box > div:not(.middle_column){
            width: calc(100% / 4);
        }

        .middle_column{
            width: calc((100% / 4)*2 - 40px);
            margin: 0 20px;
        }

        .article_img{
            height: 250px;
        }

        .article_text > h3{
            font-size: 20px;
            font-weight: 400;
            padding: 16px 0;
        }

        .article_text > p{
            font-size: 20px;
            font-weight: 200;
            color: rgb(134, 134, 134);
        }
        /* / colonne */

    /* / container colonne */

/* / slider e colonne */

/* footer */
footer{
    height: 50px;
    background-color: purple;
}
/* /footer